@import "_null.scss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

[class*="__container"] {
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 15px;
}



.wrapper {
    font-family: 'Inter', 'sans-serif';
}

// Header

.header {

    background: #58C3F0;

    // .header__container

    &__container {
        display: flex;
        align-items: center;


        padding-top: 15px;
        padding-bottom: 15px;

    }

    // .header__logo

    &__logo {
        flex: 1 1 auto;
    }

    // .header__nav

    &__nav {
        padding: 23px 0px 0px 0px;

        @media(max-width: 991.98px) {
            display: none;
        }
    }

    // .header__links

    &__links {
        display: flex;
        gap: 35px;
    }

    // .header__link

    &__link {
        font-weight: 600;
        font-size: 18px;

        a {
            color: #F3F3F3;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    // BURGER
    .burger {
        position: relative;
        transform: translateY(5px);
        width: 35px;
        height: 20px;
        display: none;
        flex-direction: column;
        justify-content: space-between;



        background: none;

        span {
            width: 100%;
            height: 2px;
            background: #F3F3F3;
        }

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background: #F3F3F3;
        }

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background: #F3F3F3;
        }

        @media(max-width:991.98px) {
            display: flex;
        }
    }


}

// Main
.main {
    flex: 1 1 auto
}

// Stay Safe

.stay-safe {

    // .stay-safe__container

    &__container {
        padding-top: 90px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        @media(max-width: 991.98px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 50px;
        }

        @media(max-width: 500px) {
            padding-top: 40px;
        }

    }

    // .stay-safe__text

    &__text {}

    // .stay-safe__title

    &__title {
        font-size: 60px;
        font-weight: 600;
        color: #FF4F5A;

        margin-bottom: 16px;

        @media(max-width:1020px) {
            font-size: 45px;
        }

        @media(max-width: 500px) {
            font-size: 30px;
        }
    }

    // .stay-safe__subtitle

    &__subtitle {
        font-size: 30px;
        font-weight: 500;
        color: #FF4F5AE5;

        margin-bottom: 16px;

        @media(max-width: 500px) {
            font-size: 20px;
        }
    }

    // .stay-safe__info

    &__info {
        max-width: 450px;
        font-size: 14px;
        font-weight: 400;
        color: #FF4F5ABF;
        line-height: 20px;

        margin-bottom: 20px;
    }

    // .stay-safe__image

    &__image {
        img {
            max-width: 100%;
        }
    }
}


// BUTTON
.btn {
    display: block;
    max-width: 130px;

    padding: 8px 14px;

    font-size: 14px;
    color: #FFFFFF;

    background: #FF4F5A;
    border-radius: 8px;


}

// STATS

.stats {

    background: #58C3F0;
    padding-top: 30px;
    padding-bottom: 90px;

    // .stats__container

    &__container {}

    // .stats__title

    &__title {
        font-weight: 600;
        font-size: 44px;
        color: #F3F3F3;
        text-align: center;

        margin-bottom: 10px;

        @media(max-width: 400px) {
            font-size: 26px;
        }
    }

    // .stats__subtitle

    &__subtitle {
        font-weight: 400;
        font-size: 16px;
        color: #F3F3F3;
        text-align: center;
        line-height: 150%;
        margin-bottom: 32px;

        @media(max-width: 400px) {
            font-size: 16px;
        }
    }

    // .stats__items

    &__items {
        display: flex;
        justify-content: center;
        gap: 200px;

        @media(max-width: 730px) {
            flex-direction: column;
            gap: 50px;
        }
    }

    // .stats__item

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .stats__icon

    &__icon {
        margin-bottom: 16px;
    }

    // .stats__numbers

    &__numbers {
        font-weight: 700;
        font-size: 30px;
        color: #F3F3F3;
        text-transform: uppercase;

        margin-bottom: 14px;
    }

    // .stats__text

    &__text {
        font-weight: 400;
        font-size: 16px;
        color: #F3F3F3;
    }
}


// COVID - INFO

.covid-info {

    background: #F5F5F5;

    // .covid-info__container

    &__container {
        padding-top: 50px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 86px;
        align-items: center;

        @media(max-width: 991.98px) {
            flex-direction: column;
        }
    }

    // .covid-info__block-text

    &__block-text {}

    // .covid-info__image

    &__image {
        img {
            max-width: 100%;
        }
    }
}

// BLOCK-TEXT

.block-text {

    // .block-text__header

    &__header {
        margin-bottom: 36px;
    }

    // .block-text__title

    &__title {
        font-size: 24px;
        margin-bottom: 24px;
        font-weight: 600;
    }

    // .block-text__info

    &__info {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;

        max-width: 542px;

        @media(max-width: 400px) {
            line-height: 30px;
        }
    }

    // .block-text__footer

    &__footer {}

    // .block-text__list

    &__list {}

    // .block-text__list-item

    &__list-item {
        font-weight: 400;
        font-size: 16px;

        position: relative;

        padding-left: 30px;

        &:not(:last-child) {
            margin-bottom: 23px;
        }

        &::before {
            content: '';
            width: 15px;
            height: 15px;
            background-image: url(../img/list-item__icon.svg);
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            position: absolute;
            top: 2px;
            left: 0;

            @media(max-width: 400px) {
                top: 7px;
            }

        }

        @media(max-width: 400px) {
            line-height: 30px;
        }
    }

    .btn {
        text-align: center;
        margin-top: 32px;
    }
}

// RISK

.risk {

    // .risk__container

    &__container {
        padding-top: 75px;
        display: flex;
        justify-content: center;

        gap: 40px;
        align-items: center;

        @media(max-width: 991.98px) {
            flex-direction: column;

        }
    }

    // .risk__block-text

    &__block-text {}

    // .risk__image

    &__image {
        img {
            max-width: 100%;
        }
    }
}

.block-text {

    // .block-text__header

    &__header {}

    // .block-text__title

    &__title {}

    // .block-text__info

    &__info {}

    // .block-text__footer

    &__footer {}

    // .block-text__list

    &__list {}

    // .block-text__list-item

    &__list-item {}
}